{% extends 'artnet_app/base.html'%}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{%block content%}
<h1 class="text-center"> 🌇 </h1>
<h1 class="text-center"> Create artwork ! </h1>

<div class="row ">
<div class="d-flex p-2 align-item-center justify-content-center">
<div class="card p-3 shadow  border-dark border-width-2 rounded-0"> 
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class='btn btn-outline-success m-3 rounded-0' style="box-shadow: 5px 5px 0px 0px #000">Upload</button>
</form>
</div>

</div>
</div>
<div class="row">
    <div class="d-flex p-2 align-item-center justify-content-center">
{% if recieved_data %}
    <img src='{{recieved_data.ordinary_image.url}}'/>
    <img src='{{recieved_data.artwork_image.url}}'/>
{% endif %}
<b>Not statisfied?</b> <br>
<b class="text-center" > <a href="{% url 'create_artwork_famous_artstyle' %}"> Create Artwork with famous artstyles </a>  instead.</b>
    </div>
</div>
{% endblock%}