{% extends 'artnet_app/base.html' %} 
{% block content %}

{% load static %}
{% if user.is_authenticated %}
            <div class="container-fluid " >
                <div class="row gx-2">
                   
                    <div class="col-lg-3 mt-5 d-none d-sm-block  ">
                        <div class="card shadow-lg border border-dark border-width-2 " >
                            
                            <img src="https://picsum.photos/536/354" class="float-center  img-thumbnail" style="border:0" alt="...">
                            <div class="card-body shadow-lg border border-dark border-width-2">
                                <h5 class="card-title"><strong>Welcome</strong></h5>
                                <p class="card-text" id="greetings">
                                   <h1> 
                                        Good Evening⏳
                                       
                                   </h1>
                                   
                                </p>
                                
                               
                                 
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item border-dark" style="font-weight: 50; border-width: 1px; box-shadow: 5px 5px 10px rgba(0,0,0,0.5);"><a  href="{% url 'create_artwork' %}" type="button" class="btn btn-outline-dark btn-lg px-4 me-md-2 fw-bold" style="box-shadow: 5px 5px 0px 0px #000">Create Artwork</a></li>
                                <li class="list-group-item border-dark" style="font-weight: 50; border-width: 1px; box-shadow: 5px 5px 10px rgba(0,0,0,0.5);"><a href="{% url 'submit_artstyle' %}" type="button" class="btn btn-outline-dark btn-lg px-4 me-md-2 fw-bold" style="box-shadow: 5px 5px 0px 0px #000">Submit Artstyle</a></li>
                                <li class="list-group-item border-dark" style="font-weight: 50; border-width: 1px; box-shadow: 5px 5px 10px rgba(0,0,0,0.5);"><a href="{% url 'diffusion_art' %}"  type="button" class="btn btn-outline-dark btn-lg px-4 me-md-2 fw-bold" style="box-shadow: 5px 5px 0px 0px #000">Generate Artwork</a></li>
                    
                            </ul>
                           
        
                        </div>
        
                    </div>
                    
                    <div class="col-lg-6 mt-5 overflow-auto " role="main">
                        <div class="container d-flex flex-column justify-content-center align-items-center">
                            {% if artworks %}
                            {% for artwork in page_obj %}
                            <div class="card mb-2  rounded  border border-dark border-width-2 " >
                                
                                <img src="{{artwork.artwork_image.url}}" class="card-img-top rounded-0" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title text-center">{{artwork.name}}</h5>
                                    <div class="text-center">
                                    {% if user.is_authenticated %}
                                    <div id='artwork_{{artwork.id}}'>
                                        {% include  'artnet_app/partials/like_area.html' %}
                                    </div>
                                    <br>
                                    <a href="{% url 'artwork-comment' artwork.id %}"><button class='btn btn-outline-dark btn-lg px-4 me-md-2 fw-bold' style="box-shadow: 5px 5px 0px 0px #000">Comment</button></a>
                                    <a href="{{artwork.get_absolute_url}}"><button class='btn btn-outline-dark btn-lg px-4 me-md-2 fw-bold' style="box-shadow: 5px 5px 0px 0px #000">View Details</button></a>
                                   
                                    {% endif %}
                                </div>
                                
                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}
                    
        
                        </div>
                    </div>
                    
                    <div class="col-lg-3 pl mt-5  d-none d-sm-block">
                        <div class="container d-flex flex-column justify-content-center align-item-center">
                            <div class="card border border-dark border-width-2">
                                <div class="card-header"><strong>Notifications</strong></div>
                                {% include  'artnet_app/partials/notification_area.html' %}
                                
                            </div>
                           
                            <div class="card border rounded-100 border-dark mt-5 justify-content-center align-items-center" style="background-color:#161616">
                                <div class="d-flex flex-column">
                                <div class="cat">
                                    <div class="ear ear--left"></div>
                                    <div class="ear ear--right"></div>
                                    <div class="face">
                                        <div class="eye eye--left">
                                            <div class="eye-pupil"></div>
                                        </div>
                                        <div class="eye eye--right">
                                            <div class="eye-pupil"></div>
                                        </div>
                                        <div class="muzzle"></div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            </div>
                         
                        </div>
                        
                    </div>
                    
        
                </div>
                <div class="row">
                    <!--Pagination implemantation-->
                    <nav aria-label="">
                        <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                          <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
                          </li>
                        {% endif %}
                        {% for page_number in page_obj.paginator.page_range %}
                            {% if items_page.number == page_number %}
                                <li class="page-item active"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{page_number}}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Next</a>
                            </li>
                        {% endif %}
                        
                        </ul>
                    </nav>
                </div>
            </div>
            {% endif %}
       
        {% if user.is_authenticated == False %}
        <div class="container" style="background-color:transparent" >
            <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center mt-5 border border-dark shadow-lg" style="border-radius: 10px;">            
              <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h1 class="display-4 fw-bold lh-1" style="font-family: 'Bree Serif', serif; color:#120326">ARTNET</h1>
                <p class="lead" style="color: black">Artnet is a platform for creating and generating ai based artworks.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                  <a href="{% url 'login' %}"  class="btn btn-outline-dark btn-lg px-4 me-md-2 fw-bold" style="box-shadow: 5px 5px 0px 0px #000">Login</a>
                  <a href="{% url 'signup' %}" class="btn btn-outline-dark btn-lg px-4 me-md-2 fw-bold" style="box-shadow: 5px 5px 0px 0px #000">SignUp </a>
                </div>
              </div>
              <div class="col-lg-4 offset-lg-1 m-3 overflow-hidden shadow-lg">
                <img class="rounded-lg-3 img-fluid" src="https://w.wallhaven.cc/full/4g/wallhaven-4gjpw7.jpg" alt="" width="720">
            </div>
              
            </div>
          </div>
           




        {% endif %}
             
              
            

{% endblock %}