{% extends 'artnet_app/base.html' %}
{% block content %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% if user.is_authenticated %}
  <h1> You are already logged in </h1>
  <p> You are not supposed to be here </p>
{% else %}
<div class="container d-flex flex-row justify-content-center align-content-center p-3 fw-bold">
  <div class="card  border border-dark ">
    <div class="card-header text-center text-black" style="background-color:#10accb9a; font-size: 24px;">Sign-up</div>
      <div class="card-body">
          <div class="container-fluid gx-2">
            <div class="row">
              <div class="col-6">
            <form method="post">
              <div class="d-flex flex-column">
              <div id="username_error" class="text-danger text-left">
              </div>
              <div id="firstname_error" class="text-danger text-left">
              </div>
              <div id="lastname_error" class="text-danger text-left">
              </div>
              <div id="email_error" class="text-danger text-left">
              </div>
              <div id="password1_error" class="text-danger text-left">
              </div>
              <div id="password2_error" class="text-danger text-left">
              </div>
            </div>
              {% csrf_token %}
              {{ form|crispy }}
              <button id="id_submitbtn" type="submit" class="btn btn-primary btn-lg">Sign up</button>
            </form>
            </div>
              <div class="col-6">
                <div class="container d-flex flex-column justify-content-center align-items-center">
                  <img src="https://w.wallhaven.cc/full/l8/wallhaven-l83o92.jpg" class="img-thumbnail">
                  <img src="https://w.wallhaven.cc/full/zy/wallhaven-zyxvqy.jpg" class="img-thumbnail">
                  <img src="https://w.wallhaven.cc/full/zy/wallhaven-zygeko.jpg" class="img-thumbnail">
                  
                </div>
              </div>
            </div>
        </div>
   </div>
</div>
<script>
  //// maybe aro valo way ase form checking er but time nai ekhon
  var username_field = document.getElementById("id_username")
  var firstname_field = document.getElementById("id_first_name")
  var lastname_field = document.getElementById("id_last_name")
  var email_field = document.getElementById("id_email")
  var password1_field = document.getElementById("id_password1")
  var password2_field = document.getElementById("id_password2")



  var username_error = document.getElementById("username_error")
  var firstname_error = document.getElementById("firstname_error")
  var lastname_error = document.getElementById("lastname_error")
  var email_error = document.getElementById("email_error")
  var password1_error = document.getElementById("password1_error")
  var password2_error = document.getElementById("password2_error")
  var submit_button = document.getElementById("id_submitbtn")

  const username_re=/^[a-zA-Z][a-zA-Z0-9]*$/
  const name_re=/^[a-zA-Z]*$/
  const password_re=/^(?=.*[a-zA-Z])(?=.*\d)[a-zA-Z\d]{8,}$/ 
  const email_re=/^[^\s@]+@[^\s@]+\.[^\s@]+$/
  


  const fields=[username_field,firstname_field,lastname_field,email_field,password1_field,password2_field]
  const field_errors=[username_error,firstname_error,lastname_error,email_error,password1_error,password2_error]
  const field_names=['username','Firstname','Lastname','Email','Password','Password Confirmation']
  const field_res=[username_re,name_re,name_re,email_re,password_re]
  
  const error_message=[
    "Username should be in [A-Z] followed by any number",
    "ei ta ki type er nam :| ",
    "Khub shundor nam. :| ",
    "You do have a email right?",
    "Password formatting is wrong there should 8 character minimum and must contain one alphabet",
    "The two password fields didn’t match."
  
  ]
  for (let i = 0; i < fields.length; i++) {
      fields[i].addEventListener("keyup",context_checker);

  }
  submit_button.addEventListener("focus",empty_checker) 
  
  function empty_checker(){
      for(let i=0;i<fields.length;i++){
        if(fields[i].value.length==0){
          fields[i].style.borderColor="red"
          field_errors[i].textContent=field_names[i]+" is empty"
        }
        else{
          fields[i].style.borderColor="green"
          field_errors[i].textContent=""
          
        }
      }
  }
  function context_checker(){
      for(let i=0;i<fields.length-1;i++){
        
        if(!(field_res[i].test(fields[i].value)) && (fields[i].value.length>0)){
            console.log(fields[i].value)
            fields[i].style.borderColor="red"
            field_errors[i].textContent=field_names[i]+" : "+error_message[i]
        }
        else if (fields[i].value.length>0){
          fields[i].style.borderColor="green"
          field_errors[i].textContent=""
        
        }
        else{
          fields[i].style.borderColor="cyan"
          field_errors[i].textContent=""
          
        }
          
        
      }
      if(!(password1_field.value==password2_field.value) && (password1_field.value.length>0) && (password2_field.value.length>0)){
        
        password2_field.style.borderColor="red"
        password2_error.textContent=error_message.at(-1)
      }
      else if((password1_field.value==password2_field.value) && (password1_field.value.length>0) && (password2_field.value.length>0)){
        password2_field.style.borderColor="green"
        password2_error.textContent=""

      } 
    else{
        password2_field.style.borderColor="cyan"
        password2_error.textContent=""
  
      }
  }
  


  

  
</script>
{% endif %}
{% endblock %}
